{
    "name": "Chatonnade Bordeaux",
    "short_name": "S+BDX",
    "icons": [
        {
            "src": "<%=canonical%>img/logo/android-chrome-192x192.png",
            "sizes": "192x192",
            "type": "image/png"
        },
        {
            "src": "<%=canonical%>img/logo/android-chrome-256x256.png",
            "sizes": "256x256",
            "type": "image/png"
        }
    ],
    "theme_color": "#ffffff",
    "background_color": "#ffffff",
    "display": "standalone"
}
