<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  <% pages.forEach(page=>{
    if(page.fileName === "404.html") return;
  _%>
  <url>
    <loc><%=canonical%><%=page.fileName%></loc>
    <lastmod><%=now%></lastmod>
  </url>
  <% }); _%>
</urlset>
