<header>
  <nav class="main">
    <h1><a class="titre" href="./"><%=titre%></a></h1>
    <div class="spacer"></div>

    <a href="./#top">Accueil</a>
    <a href="./#qui-sommes-nous-">L'équipe</a>
    <a href="./#évènements">Évènements</a>
    <a href="./#ressources--contacts">Contact</a>
    <a class="mobileOnly" href="<%= legalsMenuLink %>"><%= legalsMenuText %></a>
  </nav>
</header>
